/* You can add global styles to this file, and also import other style files */

//COMMON STYLES
html,
body {
  height: 100%;
}
body {
  position: absolute;
  margin: 0;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
